
.git
.git/**
.github/
.github/**

*.yml
*.md

vendor
vendor/
vendor/**

Godeps
Godeps/
Godeps/**

./bin/*
./bin/**

./dist/*
./dist/**

./external
./external/*
./external/**

.staging
.staging/
.staging/**

