sift_darwin_amd64
sift_linux_amd64
sift_linux_386
sift_windows_amd64.exe
.env

./external
./external/*
./external/**

./core/providers/move
./core/providers/*.txt

./core/engines/*.txt

vendor
vendor/
vendor/**